<html ng-app="myApp">

<head>
    <title>Login Page</title>
</head>

<body>
    <div class="LoginPage" ng-controller="SessionController">
        <h2>Welcome to Login Page</h2>
        <form name="loginForm">
            <div class="form-group">
                Username:
                <input ng-model="loginData.username" type="text" placeholder="Enter your username" required autofocus />
            </div><br>

            <div class="form-group">
                Password:
                <input ng-model="loginData.password" type="password" placeholder="Enter your password" required />
            </div>
            <p class="forgot-pwd">
                <a href="#">Forgot your password? </a>
            </p>

            <button type="submit" class="Login-button" ng-click="loginButton()">
                Login
            </button>

        </form>
    </div>

</body>