.LoginPage {
    padding: 30px;
    width: 600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #d7d7d7;
    margin-top: 12rem;
    font-family: monospace;
    font-size: larger;
    color: white;
    border-radius: 12px;
    background: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
}

.LoginPage a {
    color: whitesmoke;
    font-size: large;
}

.Login-button {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.Login-button :focus:not(:focus-visible),
.Login-button :focus {
    outline: 0;
}

.Login-button :hover {
    background-color: #3733E5;
    border-color: #3733E5;
}

.Login-button :focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.Login-button :active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.Login-button active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.Login-button:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}